body {
    background-color: #2D3A4B; 
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    background-color: #F7C331; 
    color: #2D3A4B;
    font-family: "Bai Jamjuree", sans-serif;
    padding: 10px 20px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0ac2b;
}

.passo {
    display: none;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

/* A seção 'img' foi removida, pois as imagens não são mais referenciadas no HTML */